<div class="container pt-5">
  <div class="card">
    <h5 class="card-header bg-dark text-white">Lista de empleados</h5>
    <div class="card-body">
      <table datatable id="dataTable" class="table table-striped table-bordered row-border hover nowrap" cellspacing="0" width="100%" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th>Documento</th>
            <th>Tp doc</th>
            <th>Primer Nombre</th>
            <th>Otros Nombres</th>
            <th>Apellido</th>
            <th>Segundo apellido</th>
            <th>Correo</th>
            <th>Pais Trabajo</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Data of data">
            <td>{{ Data.document }}</td>
            <td>{{ Data.document_type}}</td>
            <td>{{ Data.name }}</td>
            <td>{{ Data.second_name }}</td>
            <td>{{ Data.surmane }}</td>
            <td>{{ Data.second_surname}}</td>
            <td>{{ Data.email}}</td>
            <td>{{ Data.country_work}}</td>
            <td>
              <span *ngIf="Data.state" class="badge rounded-pill bg-success">Activo</span>
              <span *ngIf="!Data.state" class="badge rounded-pill bg-danger">Inactivo</span>
            </td>
            <td><div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button [routerLink]="['/update']" [queryParams]="{id: Data.id}"  type="button" class="btn btn-warning"><i class="fas fa-user-edit"></i></button>
              <button (click)="Delete(Data.id)" type="button" class="btn btn-danger"><i class="fas fa-user-minus"></i></button>
            </div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>





