<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0083A9;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="assets/cidenet-logo.png" width="90" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-5" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/create">Agregar empleado</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
