<div class="container mt-5">
  <div class="card">
    <h5 class="card-header bg-dark text-white">{{tituloEntrada}}</h5>
    <div class="card-body">

<form [formGroup]="EmployeeForm" (ngSubmit)="CreateEmployee()" >

  <input type="text"  formControlName="id" hidden>



<div class="row validaciones" >
  <div class="text-danger text-sm col" *ngIf="this.EmployeeForm.controls['document'].errors">
    <div *ngIf="this.EmployeeForm.controls['document'].errors?.required" >  El campo es equerido </div>
    <div *ngIf="this.EmployeeForm.controls['document'].errors?.minlength" > Debe contener mínimo 5 caracteres </div>
    <div *ngIf="this.EmployeeForm.controls['document'].errors?.maxlength" > Debe contener máximo 20 caracteres </div>
    <div *ngIf="this.EmployeeForm.controls['document'].errors?.pattern" > No debe contener caracteres especiales </div>
  </div>
  <div class="text-danger text-sm col" style="text-align: end;" *ngIf="this.EmployeeForm.controls['document_type'].errors">
    <div *ngIf="this.EmployeeForm.controls['document_type'].errors?.required">  El campo es equerido </div>
  </div>
</div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><i class="fas fa-id-card mx-1"></i>Documento</span>
    <input formControlName="document" type="text" class="form-control" placeholder="Documento usuario" aria-label="Documento de usuario" aria-describedby="basic-addon1">
    <span class="input-group-text" id="basic-addon1">Tipo de documento</span>
    <select formControlName="document_type"  class="form-select" aria-label="tipo de documento">
      <option value="Cédula de ciudadanía">Cédula de ciudadanía</option>
      <option value="Cédula de Extranjería">Cédula de Extranjería</option>
      <option value="Pasaporte">Pasaporte</option>
      <option value="Permiso Especial">Permiso Especial</option>
    </select>
  </div>


  <div class="row validaciones" >
    <div class="text-danger text-sm col" *ngIf="this.EmployeeForm.controls['name'].errors">
      <div *ngIf="this.EmployeeForm.controls['name'].errors?.required" >  El campo es equerido </div>
      <div *ngIf="this.EmployeeForm.controls['name'].errors?.minlength" > Debe contener mínimo 5 caracteres </div>
      <div *ngIf="this.EmployeeForm.controls['name'].errors?.maxlength" > Debe contener máximo 20 caracteres </div>
      <div *ngIf="this.EmployeeForm.controls['name'].errors?.pattern" > No debe contener caracteres especiales </div>
    </div>
    <div class="text-danger text-sm col" style="text-align: end;" *ngIf="this.EmployeeForm.controls['second_name'].errors">
      <div *ngIf="this.EmployeeForm.controls['second_name'].errors?.minlength" > Debe contener mínimo 5 caracteres </div>
      <div *ngIf="this.EmployeeForm.controls['second_name'].errors?.maxlength" > Debe contener máximo 50 caracteres </div>
      <div *ngIf="this.EmployeeForm.controls['second_name'].errors?.pattern" > No debe contener caracteres especiales </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <span  class="input-group-text">Nombre</span>
    <input formControlName="name" type="text" class="form-control" placeholder="..." aria-label="Primer nombre" aria-describedby="basic-addon2">
    <span class="input-group-text">Otros nombres</span>
    <input formControlName="second_name" type="text" class="form-control" placeholder="..." aria-label="Otros nombre" aria-describedby="basic-addon2">
  </div>

  <div class="row validaciones" >
    <div class="text-danger text-sm col" *ngIf="this.EmployeeForm.controls['surmane'].errors">
      <div *ngIf="this.EmployeeForm.controls['surmane'].errors?.required" >  El campo es equerido </div>
      <div *ngIf="this.EmployeeForm.controls['surmane'].errors?.minlength" > Debe contener mínimo 5 caracteres </div>
      <div *ngIf="this.EmployeeForm.controls['surmane'].errors?.maxlength" > Debe contener máximo 20 caracteres </div>
      <div *ngIf="this.EmployeeForm.controls['surmane'].errors?.pattern" > No debe contener caracteres especiales </div>
    </div>
    <div class="text-danger text-sm col" style="text-align: end;" *ngIf="this.EmployeeForm.controls['second_surname'].errors">
      <div *ngIf="this.EmployeeForm.controls['second_surname'].errors?.minlength" > Debe contener mínimo 5 caracteres </div>
      <div *ngIf="this.EmployeeForm.controls['second_surname'].errors?.maxlength" > Debe contener máximo 50 caracteres </div>
      <div *ngIf="this.EmployeeForm.controls['second_surname'].errors?.pattern" > No debe contener caracteres especiales </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Apellido</span>
    <input formControlName="surmane" type="text" class="form-control" placeholder="..." aria-label="Primer apellido" aria-describedby="basic-addon2">
    <span class="input-group-text">Segundo apellido</span>
    <input formControlName="second_surname" type="text" class="form-control" placeholder="..." aria-label="Segundo apellido" aria-describedby="basic-addon2">
  </div>

  <label for="basic-url" class="form-label">Fechas</label>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2">Registro de datos</span>
    <input formControlName="record_add" readonly type="text" class="form-control"  aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">Ingreso empleado</span>
    <input formControlName="hire_date" id="datefield" max='{{maxDate}}' min={{minDate}} type="date" class="form-control"  aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">Modificación empleado</span>
    <input formControlName="record_update" readonly type="text"class="form-control"  aria-describedby="basic-addon2">
  </div>





  <label for="basic-url" class="form-label">Ciudad, Área y estado</label>
  <div class="row validaciones" >
    <div class="text-danger text-sm col" *ngIf="this.EmployeeForm.controls['country_work'].errors">
      <div *ngIf="this.EmployeeForm.controls['country_work'].errors?.required" >  El campo es equerido </div>
    </div>
    <div class="text-danger text-sm col" style="text-align: right;" *ngIf="this.EmployeeForm.controls['area'].errors">
      <div *ngIf="this.EmployeeForm.controls['area'].errors?.required" >  El campo es equerido </div>
    </div>
    <div class="col" style="width: 100%;"></div>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text"><i class="fas fa-globe-americas mx-1"></i>Pais de trabajo</span>
    <select formControlName="country_work" class="form-select" aria-label="ciudad de trabajo">
      <option value="COL">Colombia</option>
      <option value="US">Estados Unidos</option>
    </select>
    <span class="input-group-text"><i class="fas fa-bezier-curve mx-1"></i>Área de trabajo</span>
    <select formControlName="area" class="form-select" aria-label="area de trabajo">
      <option value="Administración">Administración</option>
      <option value="Financiera">Financiera</option>
      <option value="Compras">Compras</option>
      <option value="Infraestructura">Infraestructura</option>
      <option value="Operación">Operación</option>
      <option value="Talento Humano">Talento Humano</option>
      <option value="Servicios Varios">Servicios Varios</option>
    </select>
    <span class="input-group-text"><i class="fas fa-shield-alt mx-1"></i>Estado</span>
    <select formControlName="state"  class="form-select" aria-label="estado del empleado">
      <option value="true">Activo</option>
      <option value="false">Incativo</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><i class="fas fa-mail-bulk"></i></span>
    <input formControlName="email" readonly type="text" class="form-control" placeholder="Correo electrónico" aria-label="Correo electrónico" aria-describedby="basic-addon1">
  </div>

  <div class="col-12 mt-4 text-center">
    <button [disabled]="EmployeeForm.invalid" type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>


    </div>
  </div>
</div>
